*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid{
    display: grid;
    grid-template-columns: repeat(20, 40px);
    gap: 2px;
}

header{
    padding: 0.5rem 0;
}

main{
    padding: 1rem;
}

#menuScreen{
    text-align: center;
    margin-bottom: 1rem;
}

button{
    padding: 0.3rem 0.6rem;
}

h1{
    margin: 0.2rem;
}

.editorBar{
    margin-top: 0.3rem;
}

#exportOutput{
    margin-top: 0.3rem;
}

#backToMenuBtn{
    margin-bottom: 0.5rem;
}

.cell{
    width:40px;
    height:40px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    border: 1px solid black;
}

.cell:hover{
    outline: 2px solid white;
    outline-offset: -2px;
    cursor: pointer;
}

.grass{
    background-image:url("./src/assets/grass.png");
}

.road{
    background-image:url("./src/assets/road.png");
}

.water{
    background-image:url("./src/assets/water.png");
}

footer{
    padding: 0.5rem;
    text-align: center;
}

.hidden{
    display: none;
}